body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

#banner{
	width: 100%; 
	padding-top: 16%; 
	position: relative; 
}
#banner .bannerContent{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}