body {
  font-family: sans-serif;
}
#pageContent{
	-webkit-transition: top 1.5s ease;
	-moz-transition: top 1.5s ease;
	transition: top 1.5s ease;
}
#banner{
	visibility: hidden; 
}

/* Make content area fill the entire browser window */
/*html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}*/

/*.title {
  font-size: 3rem;
}

#banner{
	border-bottom: 1px solid rgba(0,0,0,.125);
	
}
#banner .bannerContent{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	margin: auto; 
}*/